.container {
  --primary: #4964b6;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 1rem;
  position: sticky;
  top: 0;
  z-index: 1;

  .linkBtn {
    color: var(--primary);
    background-color: #ffffff;
    margin: 0.4rem;
    padding: 0.5rem;
    border-radius: 0.6rem;
    box-shadow: #64646f33 0px 7px 29px 0px;
    transition: 0.3s;

    &:hover {
      background-color: var(--primary);
      color: #ffffff;
    }
  }

  .createJobBtn {
    background-color: var(--primary);
    color: #ffffff;
    outline: 1px solid #ffffff;
    margin: 0.4rem;
    padding: 0.5rem;
    border-radius: 0.6rem;
    box-shadow: #64646f33 0px 7px 29px 0px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: var(--primary);
      background-color: #ffffff;
      outline: 1px solid var(--primary);
    }
  }
}
